img {
    width: 178px;
    height: 50px;
}

header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

main {
    background-color: white;
    margin: 60px 130px;
    padding: 10px;
    border: 2px solid white;    
}

footer {
    background-color: black;
    padding: 5px;
}

body {
    background-image: url('../img/pattern.jpg');
}

li {
    display: inline;
    margin-right: 30px;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

article {
    border-bottom: 2px solid lightgrey;
}

h4 {
    color: white;
    text-align: center;
}